<nav class="navbar-light bg-nav-color">
    <p class="nav-title-color">Print</p>
</nav>
<div class="container box justify-content-center" >
    <div class="row justify-content-center" style="margin-top:140px">
        
        <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <a [routerLink]="['/print-pc']">
                    <img src="../../../assets/ui/Icon/pc_circle.png" class="img-fluid" style="max-height: 250px;" />
            </a>
                <h5 class="justify-element-center">PC</h5>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <a [routerLink]="['/print-usb']">                
                    <img src="../../../assets/ui/Icon/usb_circle.png" class="img-fluid" style="max-height: 250px;" />
            </a>
                <h5 class="justify-element-center">USB</h5>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <a [routerLink]="['/print-cloud']">                
                    <img src="../../../assets/ui/Icon/cloud_circle.png" class="img-fluid" style="max-height: 250px;" />
            </a>
                <h5 class="justify-element-center">CLOUD</h5>
        </div>
    </div>
    
</div>