<nav class="navbar-light bg-nav-color">
    <p class="nav-title-color">Scan USB</p>
</nav>
<div class="container box">
    <div class="d-flex justify-content-end">
        <div class="row">
            <div class="p-2 bd-highlight">
                <a [routerLink]="['/home']">
                    <button class="simple-button" type="submit" style=""><i class="fas fa-home"></i>
                        &nbsp;
                        Home</button>
                </a>
            </div>
            <div class="p-2 bd-highlight"><button class="simple-button" type="submit"><i class="fas fa-redo"></i> &nbsp;
                    Bring Back</button></div>
        </div>
    </div>

    <!-- Master Row -->
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <!-- Half Left -->
        <div class="col-sm-12 col-lg-6 col-md-6 col-xl-6">
            <label class="big-label">File Name</label>
            <div class="row">
                <div class="col-sm-6 col-lg-12 col-xl-12">
                    <input type="text" placeholder="untitled_1242" name="" id="">
                </div>
            </div>
            <br>

            <label class="big-label">Choose Print Option</label>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="small-label">Color</label>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <input id="color" checked class="radio-custom" name="colour" type="radio">
                            <label for="color" class="radio-custom-label radio-pic one">Color</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <input id="mono" class="radio-custom" name="colour" type="radio">
                            <label for="mono" class="radio-custom-label radio-pic two">Mono</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label class="small-label">Paper</label>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <input id="radio-3" checked class="radio-custom" name="radio-group2" type="radio">
                            <label for="radio-3" class="radio-custom-label">A4</label>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <input id="radio-4" class="radio-custom" name="radio-group2" type="radio">
                            <label for="radio-4" class="radio-custom-label">A3</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input id="radio-5" class="radio-custom" name="radio-group2" type="radio">
                            <label for="radio-5" class="radio-custom-label">B4</label>
                        </div>
                        <div class="col-sm-6">
                            <input id="radio-6" class="radio-custom" name="radio-group2" type="radio">
                            <label for="radio-6" class="radio-custom-label">B5</label>
                        </div>
                    </div>
                </div>
            </div>

            <label class="big-label">Direction</label>
            <div class="row">
                <div class="col-sm-12 col-lg-3 col-md-3 col-xl-3">
                    <input id="vertical" checked class="radio-custom" name="direction" type="radio">
                    <label for="vertical" class="radio-custom-label radio-pic vertical">Vertical</label>
                </div>
                <div class="col-sm-12 col-lg-3 col-md-3 col-xl-3">
                    <input id="horizontal" class="radio-custom" name="direction" type="radio">
                    <label for="horizontal" class="radio-custom-label radio-pic horizontal">Horizontal</label>
                </div>
            </div>

            <label class="small-label">Resolution</label>
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-md-6 col-xl-6">
                            <input id="radio-9" checked class="radio-custom" name="radio-group5" type="radio">
                            <label for="radio-9" class="radio-custom-label">100dpi</label>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-md-6 col-xl-6">
                            <input id="radio-10" class="radio-custom" name="radio-group5" type="radio">
                            <label for="radio-10" class="radio-custom-label">200dpi</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-md-6 col-xl-6">
                            <input id="radio-11" class="radio-custom" name="radio-group5" type="radio">
                            <label for="radio-11" class="radio-custom-label">300dpi</label>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-md-6 col-xl-6">
                            <input id="radio-12" class="radio-custom" name="radio-group5" type="radio">
                            <label for="radio-12" class="radio-custom-label">400dpi</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Half Right -->
        <div class="col-sm-12 col-lg-6 col-xl-6">
            <label class="big-label">Preview</label>
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <img class="preview-image" id="preview-image">
                    </div>
                </div>
                <div class="col-sm-6 payment">
                    <label class="big-label">Payment Due</label>
                    <div class="wrapper">
                        <label class="dollar">$</label>
                        <input type="text" name="payment" class="payment-text" id="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-6 col-xl-6">
                    <label class="small-label">File</label><br>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <input id="radio-13" checked class="radio-custom" name="radio-group6" type="radio">
                            <label for="radio-13" class="radio-custom-label">PDF</label>
                        </div>

                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <input id="radio-14" class="radio-custom" name="radio-group6" type="radio">
                            <label for="radio-14" class="radio-custom-label">TIFF</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-xl-6">
                            <input id="radio-15" class="radio-custom" name="radio-group6" type="radio">
                            <label for="radio-15" class="radio-custom-label">JPEG</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-8 col-xl-8">
                            <button class="simple-button" style="margin-left: 5px;"><i class="fas fa-cog"></i>
                                &nbsp; Settings</button>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-lg-6 col-xl-6 start">
                    <img class="mx-auto d-block" height="200px" width="200px"
                        src="../../../../assets/ui/customized/Start button.png" />
                </div>
            </div>


        </div>
    </div>
</div>