<nav class="navbar-light bg-nav-color">
    <p class="nav-title-color">Print PC</p>
</nav>
<div class="container box">
    <div class="d-flex justify-content-end">
        <div class="row">
            <div class="p-2 bd-highlight">
                <a [routerLink]="['/home']">
                    <button class="simple-button" type="submit" style=""><i class="fas fa-home"></i>
                        &nbsp;
                        Home</button>
                </a>
            </div>
        <div class="p-2 bd-highlight"><button class="simple-button" type="submit" style="margin-right: 20px;"><i class="fas fa-redo"></i> &nbsp;
                Bring Back</button></div>
            </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-8 col-md-8 col-xl-8">
            <label class="big-label">PIN Number</label>
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-xl-6">
                    <input type="text" placeholder="untitled_1242" [(ngModel)]="pinNumber" name="" id="">
                </div>
                <div class="col-sm-12 col-lg-3 col-xl-3">
                    <button class="dark-button"(click)="fetchJobByPin($event)" type="submit">Go</button>

                </div>
                <div class="col-sm-12 col-lg-3 col-xl-3">
                    <button class="dark-button" type="submit">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 50px; margin-bottom: 10px;">
        <div class="col-sm-12 col-lg-8 col-md-8 col-xl-8">
            <label class="big-label">Waiting List</label>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr style="background-color: white;">
                            <th scope="col">Select</th>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Color</th>
                            <th scope="col">Page</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Size</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor ="let list of waitingList">
                            <td><input type="checkbox" class="chckStyle" (change)="onCheckboxChange($event,list)"></td>
                            <td>{{list.showRequestTime |date: 'd/M/y'}}</td>
                            <td>{{list.clientName}}</td>
                            <td>{{list.color}}</td>
                            <td>{{list.totalSheet}}</td>
                            <td>{{list.unitMoney}}</td>
                            <td>A{{list.unitMoney}}</td>    
                        </tr>
                    </tbody>
                </table>
            </div>
            <select class="form-control form-control-lg">
                <option>Select Target Printer</option>
                <option *ngFor="let opt of targetPrinter" [value]="opt.name">{{opt.name}}</option>
            </select>
        </div>

        <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
            <div class="container">
                <div class="payment-margin-left">
                    <label class="big-label">No. of Jobs</label><br>
                    <div class="wrapper">
                        <input type="text" name="jobs" [(ngModel)]="paymentDue" class="payment-text" id="jobs_selected">
                    </div>
                <label class="big-label payment">Payment Due</label><br>
                <div class="wrapper">
                    <label class="dollar">$</label>
                    <input type="text" name="payment" [(ngModel)]="paymentDue" class="payment-text" id="">
                    </div>
                <br>
                <img class="mx-auto d-block" height="200px" width="200px" style="margin-top: 25px;" (click)="startModalWithClass(start)"
                    src="../../../../assets/ui/customized/Start button.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<button class="simple-button" (click)="printModal(print_process)">Print Process</button>
<button class="simple-button" (click)="scanModal(scan_process)">Scan Process</button>
<button class="simple-button" (click)="copyModal(copy_process)">Copy Process</button>
<button class="simple-button" (click)="faxModal(fax_process)">Fax Process</button>

<button class="simple-button" (click)="copyBackModal(copy_backside)">Copy Backside</button>
<button class="simple-button" (click)="infoModal(info_modal)">Info</button>
<button class="simple-button" (click)="informationModal(information)">Information</button>
<button class="simple-button" (click)="errorModal(error)">Error</button>
<!--Copy Modal -->
<ng-template #print_process>
    <nav class="navbar-light bg-modal-color">
        <p class="nav-title-color">Print in Process</p>
    </nav>
    <div class="modal-body">
        <div class="container" style="margin-top:50px; margin-bottom:50px">
            <div class="row" style="margin-left:0px; margin-right:0px; margin-top:50px;">
                <div class="col-lg-6 d-flex justify-content-center">
                  <img src="../../../../assets/ui/Icon/printer.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <div id="countdown" (onload)="countDown()"><span style="font-size:50px">5</span></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #scan_process>
    <nav class="navbar-light bg-modal-color">
        <p class="nav-title-color">Scan in Process</p>
    </nav>
    <div class="modal-body">
        <div class="container" style="margin-top:50px; margin-bottom:50px">
            <div class="row justify-content-center">
                <div class="col-lg-6 d-flex justify-content-center">
                  <img src="../../../../assets/ui/Icon/scan.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <div id="countdown" (onload)="countDown()"><span style="font-size:50px">5</span></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #copy_process>
    <nav class="navbar-light bg-modal-color">
        <p class="nav-title-color">Copy in Process</p>
    </nav>
    <div class="modal-body">
        <div class="container" style="margin-top:50px; margin-bottom:50px">
            <div class="row justify-content-center">
                <div class="col-lg-6 d-flex justify-content-center">
                  <img src="../../../../assets/ui/Icon/Copy.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <div id="countdown" (onload)="countDown()"><span style="font-size:50px">5</span></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fax_process>
    <nav class="navbar-light bg-modal-color">
        <p class="nav-title-color">Fax in Process</p>
    </nav>
    <div class="modal-body">
        <div class="container" style="margin-top:50px; margin-bottom:50px">
            <div class="row justify-content-center">
                <div class="col-lg-6 d-flex justify-content-center">
                  <img src="../../../../assets/ui/Icon/fax.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <div id="countdown" (onload)="countDown()"><span style="font-size:50px">5</span></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<!-- Copy Backside Modal -->
<ng-template #copy_backside>
    <nav class="navbar-light bg-modal-color">
        <span type="button" style="cursor: pointer;" class="pull-left" (click)="modalRef.hide()">  
            <span aria-hidden="true" class="return-arrow"><i class="fas fa-arrow-left"></i></span>  
        </span>
        <p class="nav-title-color">Copy Backside</p>
    </nav>
    <div class="modal-body">
        <div class="container">

            <div class="row col-lg-12" style="margin-left:0px; margin-right:0px; justify-content: center;">
                
                <div class="col col-lg-4">
                    <label>Front Side</label><br>
                    <!-- <div
                        style="background-image: url(../images/test-background.gif); height: 150px; width: 200px; border: 2px solid #bdc3c7;">
                    </div> -->
                    <div class="square-border" style="border:1px solid black;">
                        <img src="../../../../assets/ui/Icon/id_card.png" style="padding:50px" alt="" srcset="">
                    </div>
                </div>
                
                <div class="col col-lg-4 col-md-auto">
                    <label>Back Side</label><br>
                    <div class="square-border" style="border:1px solid black">
                        <img src="../../../../assets/ui/Icon/Id_card_back_unsellceted.png" style="padding:48px" alt="" srcset="">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="simple-button" (click)="modalRef.hide()">Rescan Front</button>
        <button type="button" class="simple-button">Scan Back</button>
    </div>
</ng-template>



<!-- Information Modal -->
<ng-template #information>
    <nav class="navbar-light bg-modal-color">
        <span type="button" style="cursor: pointer;" class="pull-left" (click)="modalRef.hide()">  
            <span aria-hidden="true" class="return-arrow"><i class="fas fa-arrow-left"></i></span>  
        </span>
        <p class="nav-title-color">Information</p>
    </nav>
    <div class="modal-body">
        <div class="container">
            <div class="row col-lg-12" style="margin-left:0px; margin-right:0px; margin-top:50px; justify-content: center;">
                <img src="../../../../assets/ui/customized/alert.png" class="img-fluid" style="height: 80px; width: 80px;" alt="" srcset=""/>
            </div>
            <div class="row col-lg-12" style="justify-content: center; margin-top:30px; margin-bottom:50px;">
            <p>blah-blah-blah-blah-blah-blah-blah-blah-blah-blah-blah-blah?</p>  
            </div>          

        </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="simple-button" (click)="modalRef.hide()">No</button>
        <button type="button" class="simple-button" style="background-color: #2c3e50; color: white;">Yes</button>
    </div>
</ng-template>

<!-- Error Modal -->
<ng-template #error>
    <nav class="navbar-light bg-modal-color">
        <span type="button" style="cursor: pointer;" class="pull-left" (click)="modalRef.hide()">  
            <span aria-hidden="true" class="return-arrow"><i class="fas fa-arrow-left"></i></span>  
        </span>
        <p class="nav-title-color">Error</p>
    </nav>
    <div class="modal-body">
        <div class="container">
            <div class="row col-lg-12" style="margin-left:0px; margin-right:0px; margin-top:50px; justify-content: center;">
                <img src="../../../../assets/ui/customized/Error.png" class="img-fluid" style="height: 80px; width: 80px;" alt="" srcset=""/>
            </div>
            <div class="row col-lg-12" style="justify-content: center; margin-top:30px; margin-bottom:50px;">
            <p>blah-blah-blah-blah-blah-blah-blah-blah-blah-blah-blah-blah?</p>  
            </div>          

        </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="simple-button" (click)="modalRef.hide()">No</button>
        <button type="button" class="simple-button" style="background-color: #2c3e50; color: white;">Yes</button>
    </div>
</ng-template>


<!-- Info Modal -->
<ng-template #info_modal>
    <nav class="navbar-light bg-modal-color">
        <span type="button" style="cursor: pointer;" class="pull-left" (click)="modalRef.hide()">  
            <span aria-hidden="true" class="return-arrow"><i class="fas fa-arrow-left"></i></span>  
        </span>
        <p class="nav-title-color">Info</p>
    </nav>
    <div class="modal-body">
        <div class="container">
            <div class="row col-lg-12" style="margin-left:0px; margin-right:0px; margin-top:50px; justify-content: center;">
                <img src="../../../../assets/ui/customized/alert2.png" class="img-fluid" style="height: 80px; width: 80px;" alt="" srcset=""/>
            </div>
            <div class="row col-lg-12" style="justify-content: center; margin-top:30px; margin-bottom:50px;">
            <p>blah-blah-blah-blah-blah-blah-blah-blah-blah-blah-blah-blah?</p>  
            </div>          

        </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="simple-button" (click)="modalRef.hide()">No</button>
        <button type="button" class="simple-button" style="background-color: #2c3e50; color: white;">Yes</button>
    </div>
</ng-template>

<!--Start Modal -->
<ng-template #start>
    <nav class="navbar-light bg-modal-color">
        <span type="button" style="cursor: pointer;" class="pull-left" (click)="modalRef.hide()">  
            <span aria-hidden="true" class="return-arrow"><i class="fas fa-arrow-left"></i></span>  
        </span>
        <p class="nav-title-color">Payment</p>
    </nav>
    <div class="modal-body">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4">
                    <p class="p-bold">Total Price: $ xxxxxx</p> 
                </div>
                <div class="col-4">
                    <p class="p-bold">1 Page,mono,A4</p>
                </div>
              </div>
            <hr>
            <div class="row" style="justify-content: center;">
                <p class="p-bold">Please choose pay option and press go button for pay, if you want to keep going.</p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-3 col-lg-3 col-md-3">
                    <img src="../../../assets/ui/Icon/Cash button.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-sm-12 col-xl-3 col-lg-3 col-md-3">
                    <img src="../../../assets/ui/Icon/Card button.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-sm-12 col-xl-3 col-lg-3 col-md-3">
                    <img src="../../../assets/ui/Icon/Card for copy button.png" class="img-fluid" alt="" srcset="">
                </div>
                <div class="col-sm-12 col-xl-3 col-lg-3 col-md-3">
                    <img src="../../../assets/ui/Icon/membership button.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
            

        </div>
    </div>
    <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="simple-button" (click)="modalRef.hide()">Cancel</button>
        <button type="button" class="simple-button">Go</button>
    </div>
</ng-template>